<!DOCTYPE html>
<html>

	<head>
		<title>Mario Bacellar</title>

		<meta charset="UTF-8">
		<meta name="description" 			content="I am Mario Bacellar - Solution Integration Architect">
		<meta name="author" 					content="Mario Bacellar">
		<meta property="fb:app_id"		content="">
		<meta property="og:type"			content="website">
		<meta property="og:url"				content="https://mariobacellar.herokuapp.com/">
		<meta property="og:title"			content="I am Mario Bacellar - Solution Integration Architect">
		<meta property="og:site_name"	content="Mario Bacellar">
		<meta property="og:image"			content="https://media.licdn.com/dms/image/C4D03AQFHNce367aN3w/profile-displayphoto-shrink_200_200/0?e=1567036800&v=beta&t=862DueK5R-gRRR5vn7cBFVEr1dkdjOSoBbkPCl-iGcg">
		<meta property="og:description" content="I am Mario Bacellar - Solution Integration Architect">
		<meta name="p:domain_verify" content=""/>
		
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	</head>

	<body>

		<div class="container" style="padding-top: 20px; padding-bottom: 20px;">
		
		  <div class="header clearfix">
		
			  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
				  <h5 class="text-muted my-0 mr-md-auto">A Seasoned Software Engineer</h5>
				  <nav class="my-2 my-md-0 mr-md-3">
				    <a class="p-2 text-dark" href="#myabout">About</a>
				    <a class="p-2 text-dark" href="#mybeaware">Be ware</a>
				    <a class="p-2 text-dark" href="#">Education</a>
				    <a class="p-2 text-dark" href="#">Expertise</a>
				    <a class="p-2 text-dark" href="#mytechs">Tecnologies</a>
				    <a class="p-2 text-dark" href="#">POC</a>
				    <a class="p-2 text-dark" href="#">Expertise</a>
				    <a class="p-2 text-dark" href="#">Target</a>
				  </nav>
				 	<a class="btn btn-outline-primary" href="#">Dashboard</a>
				</div>
		
		
				<div class="jumbotron text-center" style="background-size:100% background-repeat:no-repeat; background-image: url(https://cdn.pixabay.com/photo/2016/10/11/09/26/office-1730939_960_720.jpg);">
					<a href="https://www.linkedin.com/in/mariobacellar/" target="_blank"> 
						<img src="https://media.licdn.com/dms/image/C4D03AQFHNce367aN3w/profile-displayphoto-shrink_200_200/0?e=1567036800&v=beta&t=862DueK5R-gRRR5vn7cBFVEr1dkdjOSoBbkPCl-iGcg"  class="img-rounded" alt="Mario Bacellar"> 
					</a><br>
					<a href="http://www.del.ufrj.br/~fmello/Monografias/monografia_mbca.html" target="_blank">
						<b style="font-size:10px; color:navy">MBA Systems Engineering UFRJ</b> 
					</a><p>	  	
				  <b style="color:black">Advisory Software Engineer | SME Integration</b><br>
				  <b style="font-size:50px; color:black">Solution Integration Architect</b><br> 
				  <b style="font-size:50px; color:black">#ETL #EAI #SOA #API</b></b><br>
				  	   
				  <br><span style="font-weight: bold; font-size:27px; color:darkblue">mario.bacellar@gmail.com</span>
					<p>
	       	<a href="https://www.linkedin.com/in/mariobacellar/" target="_blank"> 
						<img class="img-rounded" alt="https://www.linkedin.com/in/mariobacellar/" src="resources/linkedin.png" hight=30px width=30px> 
					</a>

				</div>
		
				<div class="alert alert-dark" role="alert">
				
					<form>
						<div class="form-row">
    					<div class="col">
      					<input type="text" class="form-control" placeholder="experience, technology or methodology">
    					</div>
    					<div class="col">
				      	<button class="btn btn-outline-primary my-sm-0" type="submit">Search in my Profile</button>
    					</div>
  					</div>					
					</form>
				</div>
				
				<div class="card" id="myabout">
		  		<div class="card-header">
		  	    <h3 class="well well-sm" data-toggle="collapse" href="#myabout-card" aria-expanded="false" aria-controls="mytechs-card" > About</h3>
		  		</div>
				  <div class="collapse card-body" id="myabout-card">
				    <blockquote class="blockquote mb-0">
				      <p><i>I am a seasoned software engineer with strong experience in integration solutions</i>. I primarily use Java and have extensive experience in implementing system integration solutions <b>(backend) Java 8 (Spring Boot) and Javascript (NodeJS)</b>. I also managed the ability to handle various activities, priorities and problem-solving. </p>
				      <p>As an <b>SME Integration</b>, I currently qualified as a generalist solutions architect and <b>capable to develop any kind of integration solutions (ETL, EAI, SOA, API/Webservice)</b>.</p>
				      <p>I obtained extensive experience in coding, requirements’ analysis and specification, designing, data modeling, testing, among others which enabled me to acquire a very good understanding of all steps of the software development cycle.</p>
				      <p>The most experience is in the Telecom industry, including experience in Service Oriented Architecture, mostly on integration projects, performing as a Java developer and integration solution architect.</p>
				      <p>I had the opportunity to work with offshore development teams and consultants from other cultures and I proved high ability to participate in multi-lingual meetings as well as to integrate with an international environment with a rapid self-starting capability and experience in team working.</p>
				      <p>While working in the largest Brazilian company in the oil industry, I provided guidance on technical processes and oversaw IT activities to track progress and ensure that projects tasks are completed efficiently and correctly, identifying risks and complexities as well as developing mitigation strategies. As a solution architect, I designed the scope of integration work (SOA) and support for Enterprise Service Bus, included conceptual solution options, diagrams, and workflow to support a compelling solution.</p>
				      <p>Fast learner and a highly adjustable professional, I am always kept up-to-date with new technologies and the best practices in software engineering.</p>
							<footer class="blockquote-footer" style="font-size:12px;">
								Com muita experiência em integração de sistemas, Mario foi fundamental em um projeto de extrema importância para a Souza Cruz.
								Como agência de marketing, não tinhamos o completo entendimento da participação da TI no desenvolvimento de soluções digitais, como integrações, modelagens de dados e alterações nos modelos de negócio do cliente, afim de contribuirem para uma verdadeira transformação digital na Souza Crus (bi-modal).
								Assumimos um grande risco entrando nesse projeto, mas com a participação do Mario conseguimos entregar e perceber as alterações que essas soluções trouxeram para nosso cliente.
								Após o término do projeto não pudemos absorvê-lo na agência, mas suas ações deixaram um legado para nosso time de desenvolvimento digital.
								Excelente profissional com foco nos resultados e com uma excelente capacidade de agregar pessoas.
								Espero ter a chance de trabalhar novamente com esse cara! 
								<cite title="Source Title"><b>Pablo São Thiago, CEO Agência Macro/Krush</b></cite>
							</footer>
				    </blockquote>
				  </div>
				</div>
		
				<p>
		
				<div class="card" id="mybeware">
		  		<div class="card-header">
		  	    <h3 class="well well-sm "><span class="glyphicon glyphicon-user"></span> Be ware</h3>
		  		</div>
				  <div class="card-body">
				    <blockquote class="blockquote mb-0">
				    
							<div class="bd-example">
							
							  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
							    
							    <ol class="carousel-indicators">
							      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
							      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
							      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
							      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
							      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
							      <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
							      <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
							    </ol>
							    
							    <div class="carousel-inner">
							      <div class="carousel-item active">
											<h5>Aplicação tá pronta -  Mas e as APIs?</h5>
								      <a href="https://www.linkedin.com/pulse/aplica%C3%A7%C3%A3o-t%C3%A1-pronta-mas-e-apis-salvo-pelo-nodejs-mais-mario-bacellar/" target="_blank">
								     		<img style="width:100%;" class="d-block w-100" src="https://media.licdn.com/dms/image/C4E12AQGyq8ZaGdPxVg/article-cover_image-shrink_423_752/0?e=1567036800&v=beta&t=1VlFdi1aHbK2rxo19V2Lik_mrBPdM_2dOVj89Gk6pow">
					    				</a>
							      </div>	    
							      <div class="carousel-item">
							      	<h5>API e SOA, são água e óleo? - Quem decide o que é o quê?</h5>
								      <a href="https://www.linkedin.com/pulse/api-e-soa-s%C3%A3o-%C3%A1gua-%C3%B3leo-quem-decide-o-que-%C3%A9-qu%C3%AA-mario-bacellar/" target="_blank">
								      	<img style="width:100%;" class="d-block w-100" src="https://media.licdn.com/dms/image/C4E12AQH39cj_KvSXaQ/article-cover_image-shrink_720_1280/0?e=1567036800&v=beta&t=G1aWdPSvItlRv2L0m48o_rnP83soJZIcrcWQzC2DWQk">
								    	</a>
							      </div>
							      <div class="carousel-item">
							      	<h3>SOA12c e o Siebel 6.3 com sua DTD inválida</h3>
								      <a href="https://www.linkedin.com/pulse/soa12c-e-o-siebel-63-com-sua-dtd-inv%C3%A1lida-mario-bacellar/" target="_blank">
								      	<img style="width:100%;" class="d-block w-100" src="https://media.licdn.com/dms/image/C4E12AQGQ0HZ5LXeSGA/article-cover_image-shrink_720_1280/0?e=1567036800&v=beta&t=Ojkj-SaRgYrZKjeSj975wxGxnUHY_p2r6ofOAXU9ai8">
								    	</a>
							      </div>
							      <div class="carousel-item">
							      	<h3>Por mais Equipes com Visão do Todo</h3>
								      <a href="https://www.linkedin.com/pulse/por-mais-equipes-com-vis%C3%A3o-do-todo-mario-bacellar/" target="_blank">
								      	<img style="width:100%;" class="d-block w-100" src="https://media.licdn.com/dms/image/C4E12AQHBi3BqsTzmBg/article-cover_image-shrink_720_1280/0?e=1567036800&v=beta&t=6He5k-qE4AQO-qwKQr5yAtphCU4T-ydoPpBgapt70HM">
								    	</a>
							      </div>
							      <div class="carousel-item">
											<h3>O que vale mais , a coragem ou o costume?</h3>
											<a href="https://www.linkedin.com/pulse/siglas-da-ti-x-empregabilidade-e-a%C3%AD-o-que-vale-mais-mario/" target="_blank">
											<img style="width:100%;" class="d-block w-100" src="https://media.licdn.com/dms/image/C4D12AQGFdRnG3NeJTQ/article-cover_image-shrink_720_1280/0?e=1567036800&v=beta&t=HX_3Ov9XrTkpY58_sM0WilyZCHfz8UivDl6iM2kMmRw">
							      </div>
							      <div class="carousel-item">
							      	<h3>Be careful, don't burn the photo</h3>
								      <a href="https://www.linkedin.com/pulse/careful-dont-burn-photo-mario-bacellar/" target="_blank">
								      	<img style="width:100%;" class="d-block w-100" src="https://media.licdn.com/dms/image/C4E12AQGa_I-XB3_GnA/article-cover_image-shrink_423_752/0?e=1567036800&v=beta&t=khmfA5abiAZJ-DlQk4Fse4Swb2k9kJfkCiH7uph5DeM">
								    	</a>
							      </div>
							      <div class="carousel-item">
											<h3>How the littles will overcome the giants?</h3>
											<a href="https://www.linkedin.com/pulse/ex-has-come-forever-mario-bacellar-mba/" target="_blank">
											<img style="width:100%;" class="d-block w-100" src="https://media.licdn.com/dms/image/C4D12AQEPT8qpuDmZ9A/article-cover_image-shrink_423_752/0?e=1567036800&v=beta&t=Zy7BbHMForTApwAAG-UIWCobLpam3Z028b3gx1efo7w">
							      </div>
		
								    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
								      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
								      <span class="sr-only">Previous</span>
								    </a>
								    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
								      <span class="carousel-control-next-icon" aria-hidden="true"></span>
								      <span class="sr-only">Next</span>
								    </a>
									</div>
								</div>
							</div>
				    </blockquote>
				  </div>
				</div>
				<p>
				<div class="card" id="myeducation">
		  		<div class="card-header">
		  	    <h3 class="well well-sm "><span class="glyphicon glyphicon-user"></span> Education</h3>
		  		</div>
				  <div class="card-body">
				    <blockquote class="blockquote mb-0">
		
				    </blockquote>
				  </div>
				</div>
		
				<p>
				<div class="card" id="myeducation">
		  		<div class="card-header">
		  	    <h3 class="well well-sm "><span class="glyphicon glyphicon-user"></span> Expertise</h3>
		  		</div>
				  <div class="card-body">
				    <blockquote class="blockquote mb-0">
		
				    </blockquote>
				  </div>
				</div>
		

				<p>
				<div class="card" id="mytechs">

		  		<div class="card-header">
		  	    <h3 class="well well-sm" data-toggle="collapse" href="#mytechs-card" aria-expanded="false" aria-controls="mytechs-card" > Tecnologies</h3>
		  		</div>
				  <div class="collapse card-body" id="mytechs-card">
				    <blockquote class="blockquote mb-0">
							<div class	="container" style="background:white;">
								<div class="progress">
								  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<p>
								<div class="progress">
								  <div class="progress-bar progress-bar-striped bg-success"  role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<p>
								<div class="progress">
								  <div class="progress-bar progress-bar-striped bg-info"     role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<p>
								<div class="progress">
								  <div class="progress-bar progress-bar-striped bg-warning"  role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
								<p>
								<div class="progress">
								  <div class="progress-bar progress-bar-striped bg-danger"   role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
						</div>
				    </blockquote>
				  </div>
				</div>

		
				<p>
				<div class="card" id="myeducation">
		  		<div class="card-header">
		  	    <h3 class="well well-sm "><span class="glyphicon glyphicon-user"></span> Target</h3>
		  		</div>
				  <div class="card-body">
				    <blockquote class="blockquote mb-0">
		
				    </blockquote>
				  </div>
				</div>
		
				<p>
				<div class="card" id="myeducation">
		  		<div class="card-header">
		  	    <h3 class="well well-sm "><span class="glyphicon glyphicon-user"></span> POC</h3>
		  		</div>
				  <div class="card-body">
				    <blockquote class="blockquote mb-0">
		
				    </blockquote>
				  </div>
				</div>
		
		
		
			</div>
		
			<footer class="footer">
				<hr width=100% align="center"><p>
				<a href="https://www.linkedin.com/in/mariobacellar/" target="_blank">
					<p style="font-size:10px; color:gray; text-align:center;">&copy; 1996 Mario Bacellar, Advisory Software Engineer | SME Integration | R&D | Solution Integration Architect | ETL, EAI, SOA, API</p>
				</a>
			</footer>
		
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>

</html>